<template name="factureHeader">
	<div class="ui two column middle aligned relaxed fitted stackable grid">
		<div class="column">
			<div class="ui left action input">
				<div class="ui teal icon button">
					<i class="calendar icon"></i>
				</div>
				<input type="text" value="{{date}}">
			</div>
		</div>
		<div class="column">
			<div class="ui left action input">
				<div class="ui teal icon button">
					<i class="euro icon"></i>
				</div>
				<input type="text" value="{{totals}}">
			</div>
		</div>
	</div>
</template>