<template name="factureEdit">

	<div class="segment">
		{{> factureHeader date=getDate totals=getSums.totals }}

		<div class="ui divider"></div>
		
		<div class="segment">
			<div class="ui left icon input">
				<i class="users icon"></i>
				<input type="text" name="nameSearchInput" id="nameSearchInput" placeholder="Rechercher ...">
			</div>

			<table class="ui small celled collapsing unstackable table">
				{{ > factureTableHeader edit=true}}
				<tbody>
					{{#each lines}}
					{{> factureLine}}
					{{/each}}
				</tbody>
				{{ > factureTableFooter edit=true getSums=getSums}}
			</table>
		</div>

		<div class="ui basic right aligned  segment">
			<a class="ui green button sendEmail">Envois des emails</a>
			<a class="ui yellow button closeBill">Fermer la facture</a>
			<a class="ui right red button delete" href="#">Suppression de la facture</a>
		</div>
	</div>
</template>