<template name="factureSubmit">
	<div class="segment">
		{{> factureHeader date=getDate totals=getSums.totals }}
		<div class="ui divider"></div>
		
		<div class="segment">
			<table class="ui small celled collapsing unstackable table">
				{{ > factureTableHeader edit=false}}
				<tbody>
					{{#each lines}}
					{{> candidateLine}}
					{{/each}}
				</tbody>
				{{ > factureTableFooter edit=false getSums=getSums}}
			</table>
		</div>
		<div class="ui basic right aligned  segment">
			<a class="ui right green button createBill" href="#">Creation de la facture</a>
		</div>
	</div>
</template>

<template name="candidateLine">
	<tr >
		<td>{{theUserName}}</td>
		{{#if isDesktop}}
		<td class="right aligned">{{amount}}</td>
		<td class="right aligned">{{getSum.delta}} €</td>
		<td class="right aligned">{{getSum.amount}} €</td>
		{{/if}}
		<td class="right aligned"><b>{{getSum.total}} €</b></td>
	</tr>
</template>