<template name="userSubmit">
	<form class="ui form">
		<h4 class="ui dividing header">Information</h4>
		<div class="two fields">
			<div class="field">
				<input name="name" id="name" type="text" placeholder="Nom" value="{{name}}"/>
			</div>
			<div class="field">
				<input name="firstname" id="firstname" type="text" placeholder="Prenom" value="{{firstname}}"/>
			</div>
		</div>

		<div class="field">
			<input name="email" id="email" type="text" value="{{email}}" placeholder="email" class="form-control"/>
		</div>

		<h4 class="ui dividing header">Compte</h4>

		<div class="field">
			<input name="amount" id="amount" type="text" placeholder="Nombre de café par jour" value="{{amount}}" class="form-control"/>
		</div>
		<div class="field">
			<div class="ui checkbox">
				<input name="killed" id="killed" type="checkbox" {{getKilled}}/>
				<label>Désactivé</label>
			</div>
		</div>
		<div>
			<h4 class="ui dividing header"></h4>
			<div class="ui submit button create">Creer</div>
		</div>
	</form>

</template>