.grid-block, .main, .facture, .user { 
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}

body {
    background: #eee; 
    color: #666666; 
}

.navbar {
    margin-bottom: 10px; 
}

.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px; 
    -moz-border-radius: 0px 0px 3px 3px; 
    -ms-border-radius: 0px 0px 3px 3px; 
    -o-border-radius: 0px 0px 3px 3px; 
    border-radius: 0px 0px 3px 3px; 
}

// Facture
.facture {
    *zoom: 1;
    position: relative;
    opacity: 1; 
}
.facture:before, .facture:after {
    content: "";
    display: table; 
} 
.facture:after {
    clear: both; 
} 
.facture.invisible {
    opacity: 0; 
} 
.facture.instant {
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none; 
}
.facture.animate {
    -webkit-transition: all 300ms 0ms ease-in;
    -moz-transition: all 300ms 0ms ease-in; 
    -o-transition: all 300ms 0ms ease-in; 
    transition: all 300ms 0ms ease-in; 
}
.facture .upvote { 
    display: block; 
    margin: 7px 12px 0 0; 
    float: left; 
}
.facture .facture-content { 
    float: left; 
}
.facture .facture-content h3 {
    margin: 0;
    line-height: 1.4; 
    font-size: 18px; 
}
.facture .facture-content h3 a {
    display: inline-block;
    margin-right: 5px; 
}
.facture .facture-content h3 span {
    font-weight: normal; 
    font-size: 14px; 
    display: inline-block; 
    color: #aaaaaa; }
.facture .facture-content p { 
    margin: 0; 
}
.facture .state { 
    display: block; 
    float: right;
    font-style: italic;
    font-size: 18px; 
}

.facture .status { 
    display: block; 
    float: right;
    font-style: italic;
    font-size: 14px; 
}

.factures .spinner-container { 
    position: relative; 
    height: 100px;
}

// Users
.user {
    *zoom: 1;
    position: relative;
    opacity: 1; 
}
.user:before, .user:after {
    content: "";
    display: table; 
} 
.user:after {
    clear: both; 
} 
.user.invisible {
    opacity: 0; 
} 
.user.instant {
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none; 
}
.user.animate {
    -webkit-transition: all 300ms 0ms ease-in;
    -moz-transition: all 300ms 0ms ease-in; 
    -o-transition: all 300ms 0ms ease-in; 
    transition: all 300ms 0ms ease-in; 
}
.user .upvote { 
    display: block; 
    margin: 7px 12px 0 0; 
    float: left; 
}
.user .user-content { 
    float: left; 
}
.user .user-content h3 {
    margin: 0;
    line-height: 1.4; 
    font-size: 18px; 
}
.user .user-content .user-state {
    color: #777777;
    font-style: italic 
}
.user .user-content h3 a {
    display: inline-block;
    margin-right: 5px; 
}
.user .user-content h3 span {
    font-weight: normal; 
    font-size: 14px; 
    display: inline-block; 
    color: #aaaaaa; 
}

.user .user-content p { 
    margin: 0; 
}

.user .edit { 
    display: block; 
    float: right;
    margin-top: -5px; 
}

.user .state { 
    display: block; 
    float: left;
   
    margin-left: 10px;
    font-size: 18px; 
}

.user .coffee { 
    display: block; 
    float: left;
  
    margin-left: 10px;
    font-size: 18px; 
}

.users .spinner-container { 
    position: relative; 
    height: 100px;
}

//
.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100; 
}


@-webkit-keyframes fadeOut { 
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;} 
}

@keyframes fadeOut { 
    0% {opacity: 0;} 
    10% {opacity: 1;} 
    90% {opacity: 1;} 
    100% {opacity: 0;}
}

.errors {
    position: fixed; 
    z-index: 10000; 
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards; 
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards; 
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both; 
    margin-bottom: 5px; 
    pointer-events: auto;
}
